<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<div class="container">
  <div class="title">
    <span>Random Number Guessing Game</span>
  </div>
  <div class="instructions">
    <br>
    <span>Instructions:
      <span>Enter the number that was shown. Easy enough.</span>
    </span>
  </div>
  <br>
  <div class="level">
    <span>Level:
      <span class="theLevel">1</span>
    </span>
    <span>Wrong:
      <span class="wrong">0 </span>/ 3</span>
  </div>
  <br>
  <div class="number">
    <div class="stars">##########################</div>
    <div class="theNumber">
      <i class="fa fa-circle"></i>
    </div>
    <div>
    </div>
    <div class="stars">##########################</div>
  </div>
  <div class="input">
    <span>Number is: &nbsp;&nbsp;</span>
    <input type="text">
  </div>
  <div class="btnGroup">
    <button class="submit">Submit</button>
    <button class="restart">restart</button>
  </div>
  <div class="tip">
    <span>or press enter</span>
  </div>
</div>