<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<div class="container">
  <div class="title">
    <span>Random Number Guessing Game</span>
  </div>
  <div class="instructions">
    <br>
    <span>Instructions:
      <span>Enter the number that was shown. Easy enough.</span>
    </span>
  </div>
  <br>
  <div class="level">
    <span>Level:
      <span class="theLevel">1</span>
    </span>
    <span>Wrong:
      <span class="wrong">0 </span>/ 3</span>
  </div>
  <br>
  <div class="number">
    <div class="stars">##########################</div>
    <div class="theNumber">
      <i class="fa fa-circle"></i>
    </div>
    <div>
    </div>
    <div class="stars">##########################</div>
  </div>
  <div class="input">
    <span>Number is: &nbsp;&nbsp;</span>
    <input type="text">
  </div>
  <div class="btnGroup">
    <button class="submit">Submit</button>
    <button class="restart">restart</button>
  </div>
  <div class="tip">
    <span>or press enter</span>
  </div>
</div>

<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom w3-card-4">
    <header class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <p class="yourScore">Your Score</p>
    </header>

    <div class="w3-container">
      <p class="finalScore">Level: <span class="leScore"></span></p>
    </div>
    <footer class="w3-container">
      <p class="betterLuck">Better Luck Next Time!</p>
    </footer>
  </div>
</div>